.galleria-main{
    height: 100vh;
}

.galleria-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue';
    font-size: 50px;
    height: 70px;
    background: url("../../resources/topography.svg");
    letter-spacing: 40px;
    text-indent: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh);
}

.card {
    background-size: cover;
    transition: all 0.3s ease-in-out;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.card:hover {
    flex-grow: 6;
}

.heading{
    color: white;
    font-family: 'Bebas Neue Book';
    font-size: 35px;
    transition: all 0.3s ease-in-out;
}

.card:hover .heading{
    letter-spacing: 40px;
    text-indent: 40px;
    font-size: 80px;
}

.image-1{
    background-image: url("https://picsum.photos/id/100/4000/1000");
}
.image-2{
    background-image: url("https://picsum.photos/id/200/4000/1000");
}
.image-3{
    background-image: url("https://picsum.photos/id/300/4000/1000");
}
.image-4{
    background-image: url("https://picsum.photos/id/400/4000/1000");
}
.image-5{
    background-image: url("https://picsum.photos/id/500/4000/1000");
}
.image-6{
    background-image: url("https://picsum.photos/id/600/4000/1000");
}
.image-7{
    background-image: url("https://picsum.photos/id/700/4000/1000");
}
.image-8{
    background-image: url("https://picsum.photos/id/800/4000/1000");
}